.curriculum-container {
	overflow-y: auto;
	margin-left: 28%;
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	padding: 4em;
	align-content: start;
}

.curriculum {
	width: 100%;
	max-width: 900px;
	aspect-ratio: 1/1.41;
	background-color: var(--primary-color);
	text-align: center;
	display: grid;
	grid-template-rows: 1fr 4fr;
	margin: auto;
	overflow-wrap: anywhere;
	overflow: hidden;
}

.header {
	background-color: #033a6d;
	padding: 2.5em 2em;
}

.main {
	padding: 2.5em 5em;
	text-align: left;
}
.header h1,
.header span,
.header p {
	color: white;
}

.icon-container {
	display: block;
	width: 28px;
	height: 28px;
}

}
