.curriculum-container {
	overflow-y: auto;
	margin-left: 28%;
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	padding: 4em;
	align-content: start;
}

.curriculum {
	width: 100%;
	max-width: 900px;
	aspect-ratio: 1/1.41;
	background-color: var(--primary-color);
	text-align: center;
	display: grid;
	grid-template-rows: 1fr 4fr;
	margin: auto;
	overflow: hidden;
}

.header {
	background-color: #033a6d;
	padding: 2.5em 2em;
	overflow: hidden;
}
.header h1 {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main {
	padding: 2.5em 5em;
	text-align: left;
	overflow-wrap: anywhere;
}

.main h3 {
	font-weight: 700;
}

li h3,
li span,
li p {
	font-size: 16px;
}

li p {
	margin: 1rem 0;
	font-weight: 500;
}

.header h1,
.header span,
.header p {
	color: white;
}

.contact-container {
	flex-shrink: 1;
	max-width: 40%;
	white-space: nowrap;
	display: grid;
	grid-template-columns: 30px auto;
}
.contact-container span {
	overflow: hidden;
	text-overflow: ellipsis;
}

.icon-container {
	display: block;
	width: 28px;
	height: 28px;
}

.period-span {
	font-weight: light;
	color: var(--secondary-text-color);
}

@media (max-width: 1000px) {
	.curriculum-container {
		margin-left: 50%;
		padding: 2em;
	}
	.header {
		padding: 1em 1.5em;
	}
	.header h1 {
		font-size: 14px;
	}
	.contact-container {
		grid-template-columns: 14px auto;
	}
	.icon-container {
		width: 12px;
		height: 12px;
	}
	.header span {
		font-size: 8px;
	}
	.main {
		padding: 1.5em 3em;
	}
	.main h2 {
		font-size: 10px;
	}
	.main h3,
	.main span,
	.main p {
		font-size: 6px;
	}

	.main p {
		margin: 0.5rem 0;
	}
	.main ul li::marker {
		font-size: 0.5rem;
	}
}

@media (max-width: 600px) {
	.curriculum-container {
		margin-left: 0%;
		padding: 1.5em;
	}
	.header h1 {
		font-size: 10px;
	}
	.main {
		padding: 0.8em 1.6em;
	}
	.main h2 {
		font-size: 8px;
	}
	.main p {
		margin: 0.25rem 0;
	}
}
