body {
	background-color: var(--bg-color);
}

.flex-rows {
	display: flex;
	flex-direction: row;
}
.rows-centered {
	align-items: center;
}

.flex-cols {
	display: flex;
	flex-direction: column;
}
.semi-spaced {
	justify-content: space-around;
}
.spaced {
	justify-content: space-between;
}
.small-gap {
	gap: 0.5rem;
}
.medium-gap {
	gap: var(--form-secondary-gap);
}
.large-gap {
	gap: var(--form-primary-gap);
}

button {
	background-color: var(--accent-color);
	border-radius: 100vw;
	border: none;
	padding: 0.5em;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}
button:hover {
	transition: transform 0.1s ease-in-out;
	transform: scale(1.05);
}

.show-curriculum-button {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 120px;
	height: 60px;
	font-size: 18px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

@supports selector(::-webkit-scrollbar) {
	::-webkit-scrollbar {
		width: 0.625em;
	}

	::-webkit-scrollbar-track {
		background-color: var(--secondary-color);
		margin-block: 0.25em;
		border-radius: 100vw;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--secondary-text-color);
		border-radius: 100vw;
	}
}

@media (max-width: 1000px) {
	.large-gap {
		gap: 1rem;
	}
	.medium-gap {
		gap: 0.5rem;
	}
	.small-gap {
		gap: 0.25rem;
	}
}

@media (max-width: 600px) {
	.large-gap {
		gap: 0.7rem;
	}
	.medium-gap {
		gap: 0.35rem;
	}
	.small-gap {
		gap: 0.15rem;
	}
	.show-curriculum-button {
		display: block;
	}
}
